body {
  background-color: #0CA789; /* Set the background color for the whole page */
  color: white;
  margin: 0; /* Remove default margin */
  padding: 0;
}

.signup-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
}

.body {
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 600px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 120px;
  margin-right: 10px;
}

.form {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.error-message {
  color:orangered;
}